<div class="lc">
    <input type="text" (keyup)="onSrc($event)" [formControl]="srcName" id="srcbar" style="font-family:Arial, Helvetica, sans-serif;" placeholder="Enter name to search"/>
    <table id="listTable">
        <tr>
            <th style="cursor: pointer;" (click)="srtbyfnm()">
                First Name
                <span [ngClass]="(srtData && (srtData.firstName === 1))?'':'visibilityGone'">&#8593;</span>
                <span [ngClass]="(srtData && (srtData.firstName === 2))?'':'visibilityGone'">&#8595;</span>
            </th>
            <th style="cursor: pointer;" (click)="srtbylnm()">
                Last Name
                <span [ngClass]="(srtData && (srtData.lastName === 1))?'':'visibilityGone'">&#8593;</span>
                <span [ngClass]="(srtData && (srtData.lastName === 2))?'':'visibilityGone'">&#8595;</span>
            </th>
            <th>Gender</th>
            <th style="cursor: pointer;" (click)="srtbyage()">
                Age
                <span [ngClass]="(srtData && (srtData.age === 1))?'':'visibilityGone'">&#8593;</span>
                <span [ngClass]="(srtData && (srtData.age === 2))?'':'visibilityGone'">&#8595;</span>
            </th>
            <th>Profile Picture</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let st of students" app-table-row [student]="st"></tr>
    </table>
    <a routerLink="/create" class="updbtn crnwtp" style="font-family: Arial, Helvetica, sans-serif;">
        Create New Student
    </a>
  </div>