<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="mc">
    <h5>Add a new Student</h5>
    <span>
        <label for="ipname">First Name:</label>
        <input type="text" formControlName="firstName" id="ipname" autocomplete="off"/>
        <i *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" id="firstNameWarn" class="fa-solid fa-circle-exclamation"></i>
        <!-- firstName?.invalid && (firstName?.dirty || firstName?.touched) -->
        <span *ngIf="firstName?.errors?.['required'] && (firstName?.dirty || firstName?.touched)" id="firstNameRequiredWarnmsg">First Name Required</span>
        <span *ngIf="firstName?.errors?.['invalidName'] && (firstName?.dirty || firstName?.touched)" id="firstNameInvalidWarnmsg">Invalid First Name</span>
    </span>
    <span>
        <label for="ipLname">Last Name:</label>
        <input type="text" formControlName="lastName" id="ipLname" autocomplete="off"/>
        <i *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" id="lastNameWarn" class="fa-solid fa-circle-exclamation"></i>
        <span *ngIf="lastName?.errors?.['required'] && (lastName?.dirty || lastName?.touched)" id="lastNameRequiredWarnmsg">Last Name Required</span>
        <span *ngIf="lastName?.errors?.['invalidName'] && (lastName?.dirty || lastName?.touched)" id="lastNameInvalidWarnmsg">Invalid Last Name</span>
    </span>
    <span>
        <label for="ipage">Age:</label>
        <input type="number" formControlName="age" id="ipage" autocomplete="off"/>
        <i *ngIf="ageGtr?.invalid && (ageGtr?.dirty || ageGtr?.touched)" id="ageWarn" class="fa-solid fa-circle-exclamation"></i>
        <span *ngIf="ageGtr?.errors?.['invalidAgeType'] && (ageGtr?.dirty || ageGtr?.touched)" id="ageInvalidTypeWarnmsg">Invalid Age, Must be Integer</span>
        <span *ngIf="ageGtr?.errors?.['invalidAge'] && (ageGtr?.dirty || ageGtr?.touched)" id="ageInvalidWarnmsg">Invalid Age, Must be between 1 and 120</span>
    </span>
    <span>
        <label (click)="putFocusOnGenderField()">Gender:</label>
        
        <input style="width: 20px;" type="radio" value="Male" formControlName="gender" id="male">
        <label style="margin-left: 20px;" for="male">Male</label>
        <input style="width: 20px;" type="radio" value="Female" formControlName="gender" id="female">
        <label style="margin-left: 20px;" for="female">Female</label>
        <i style="top: 25px;" *ngIf="genderGtr?.invalid && (genderGtr?.dirty || genderGtr?.touched)" id="genderWarn" class="fa-solid fa-circle-exclamation"></i>
        <span style="top: 25px;"  *ngIf="genderGtr?.errors?.['invalidGender'] && (genderGtr?.dirty || genderGtr?.touched)" id="genderInvalidWarnmsg">Invalid Gender, Must be Male or Female</span>
    </span>
    <span>
        <label (click)="putFocusOnBrowseField()">Picture:</label>
        <input type="file" id="ippic" (change)="onImagePicked($event)" accept=".png, .jpg, .jpeg, .avif"/>
    </span>
    <div class="bc">
        <button type="submit" [disabled]="!profileForm.valid" [ngClass]="profileForm.valid?'sbbtnEn':''" id="btnsb" class="sbbtn">
            Submit
        </button>
        <a routerLink="/list">Back to Student List</a>
    </div>
</form>

<!-- <label for="html">HTML</label><br>
<input type="radio" id="css" name="fav_language" value="CSS">
<label for="css">CSS</label><br>
<input type="radio" id="javascript" name="fav_language" value="JavaScript">
<label for="javascript">JavaScript</label> -->