.formContainer {
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    width: 720px;
    height: 500px;
    min-width: 718px;
}

.formContainer h5 {
    font-family: "Whitefriars NF W01 Regular";
    font-weight: 180;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButtonContainer {
    display: flex;
    position: relative;
    height: 50px;
    float: right;
}

.submitButtonContainer button {
    position: absolute;
    top: 5px;
    width: 70px;
    height: 35px;
}

.submitButtonContainer a {
    display: flex;
    position: absolute;
    right: 85px;
    top: 80px;
    color: rgb(109, 193, 227);
    font-family: "Whitefriars NF W01 Regular";
    font-size: 9.5px;
}

.submitButton {
    right: 85px;
}

kendo-formfield label:hover {
    cursor: pointer;
}

.kendoFormFieldContainer {
    display: block;
    height: 48px;
}

.paddingTop10px {
    padding-top: 10px;
}

.paddingLeftRight50px {
    padding-left: 50px;
    padding-right: 50px;
}

.kendoFormFieldofBrowseButtonPadding {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}