<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="formContainer k-form-horizontal">
    <h5>Add a new Student</h5>

    <div class="kendoFormFieldContainer">
        <kendo-formfield orientation="horizontal" class="paddingLeftRight50px">
            <label kendoLabel for="firstNameInputField">First Name:</label>
            <input kendoTextBox formControlName="firstName" id="firstNameInputField" type="text" autocomplete="off" />
            <kendo-formerror>
                {{(firstNameFormControlGetter?.errors?.['invalidName'])?
                'Error: Invalid First Name': 'Error: First Name Required'}}
            </kendo-formerror>
        </kendo-formfield>
    </div>

    <div class="kendoFormFieldContainer paddingTop10px">
        <kendo-formfield orientation="horizontal" class="paddingLeftRight50px">
            <label kendoLabel for="lastNameInputField">Last Name:</label>
            <input kendoTextBox formControlName="lastName" id="lastNameInputField" type="text" autocomplete="off" />
            <kendo-formerror>
                {{(lastNameFormControlGetter?.errors?.['invalidName'])?
                'Error: Invalid Last Name': 'Error: Last Name Required'}}
            </kendo-formerror>
        </kendo-formfield>
    </div>

    <div class="kendoFormFieldContainer paddingTop10px">
        <kendo-formfield orientation="horizontal" class="paddingLeftRight50px">
            <kendo-label class="k-label" [for]="ageInputField" text="Age:"></kendo-label>
            <kendo-numerictextbox formControlName="age" #ageInputField format="n" [autoCorrect]="true" [min]="1"
                [max]="120" [spinners]="false" [step]="1"></kendo-numerictextbox>
            <kendo-formerror>
                {{(ageFormControlGetter?.errors?.['ageRequiredError'])?'Error: Age Required':'Error: Invalid Age'}}
            </kendo-formerror>
        </kendo-formfield>
    </div>

    <div class="kendoFormFieldContainer paddingTop10px">
        <kendo-formfield orientation="horizontal" showHints="initial" class="paddingLeftRight50px">
            <label (click)="putFocusOnGenderField()" class="k-label">Gender:</label>

            <ul class="k-radio-list k-list-horizontal">
                <li class="k-radio-item" style="margin-left: 10%;">
                    <input type="radio" #maleRadioButton id="maleGenderInputField" value="Male" kendoRadioButton
                        formControlName="gender" />
                    <kendo-label class="k-radio-label" [for]="maleRadioButton" text="Male"></kendo-label>
                </li>

                <li class="k-radio-item" style="margin-left: 10%;">
                    <input type="radio" #femaleRadioButton value="Female" kendoRadioButton formControlName="gender" />
                    <kendo-label class="k-radio-label" [for]="femaleRadioButton" text="Female"></kendo-label>
                </li>
            </ul>
            <kendo-formerror>
                {{(genderFormControlGetter?.errors?.['genderRequiredError'])?
                'Error: Gender Required':'Error: Invalid Gender'}}
            </kendo-formerror>
        </kendo-formfield>
    </div>

    <kendo-formfield id="pictureBrowserContainer" orientation="horizontal" showErrors="initial" showHints="initial"
        class="kendoFormFieldofBrowseButtonPadding">
        <label for="#" (click)="putFocusOnBrowseField()">Profile Picture:</label>
        <kendo-fileselect #files id="pictureSelector" [restrictions]="fileRestrictions" formControlName="profilePicture"
            [multiple]="false">
        </kendo-fileselect>
    </kendo-formfield>


    <div class="submitButtonContainer">
        <button kendoButton type="submit" [disabled]="!profileForm.valid" class="submitButton" id="submitButton"
            fillMode="outline">
            Submit
        </button>
        <a routerLink="/list">Back to Student List</a>
    </div>
</form>