<div *ngIf="student; else notfound">
    <div class="detailsPageElementContainer">
        <img src='http://localhost:8080/{{student.path}}' alt="{{student.initialFileName}}"
            title="{{student.initialFileName}}">
    </div>
    <p class="detailsPageLabel">{{student.firstName}}&nbsp;{{student.lastName}}</p>
    <div class="infoContainer">
        <span>
            <kendo-label class="detailsPageLabel">First Name:&nbsp;</kendo-label>
            <kendo-textbox class="detailsPageTextBox" type="text" [disabled]="true"
                value={{student.firstName}}></kendo-textbox>
        </span>
        <span>
            <kendo-label class="detailsPageLabel">Last Name:&nbsp;</kendo-label>
            <kendo-textbox class="detailsPageTextBox" type="text" [disabled]="true"
                value={{student.lastName}}></kendo-textbox>
        </span>
        <span>
            <kendo-label class="detailsPageLabel">Gender:&nbsp;</kendo-label>
            <kendo-textbox class="detailsPageTextBox" type="text" [disabled]="true"
                value={{student.gender}}></kendo-textbox>
        </span>
        <span>
            <kendo-label class="detailsPageLabel">Age:&nbsp;</kendo-label>
            <kendo-textbox class="detailsPageTextBox" type="text" [disabled]="true"
                value={{student.age}}></kendo-textbox>
        </span>
    </div>
    <div class="detailsPageElementContainer">
        <button kendoButton routerLink="/create" [queryParams]="{ id:student.id}" themeColor="tertiary"
            class="detailsPageButton">
            Update
        </button>
        <button kendoButton (click)="deleteStudent(student.id.toString())" themeColor="primary"
            class="detailsPageButton">
            Delete
        </button>
        <button kendoButton (click)="goBack()" themeColor="secondary" class="detailsPageButton">
            Back
        </button>
    </div>
</div>

<ng-template #notfound>
    <app-page-not-found></app-page-not-found>
</ng-template>